html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #B0BEC5;
    background-color: #f3f3f3;
    display: table;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 42px;
    margin-bottom: 40px;
}

a {
    color: #B0BEC5;
    font-size: 0.3em;
    text-decoration: none;
}